.container {
  /* width: 100vw;

  background-color: #b3b3b3;
  display: flex;
  align-items: center;
  justify-content: center; */
  /* min-height: 100vh;
  background-color: #171717; */
  display: flex;
  max-height: 100vh;
}
.formElement label {
  font-weight: 400;
}
.mainField {
  height: auto;

  height: 100vh;
  width: 75%;
}

.mainContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mainContent img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}
.info {
  margin-left: 10px;
}
.name {
  font-weight: 500;
  font-size: 1.2em;
}
.info p {
  font-size: 0.8em;
}

.userInfo {
  display: flex;
}
.user {
  width: 100%;
  display: flex;
  padding-left: 10px;
  background-color: #ffffff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.userInfo {
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.userInfo .fa-arrow-left {
  margin-right: 10px;
  font-size: 1.3em;
}
.chatElement {
  width: 70%;

  margin-top: 20px;
  padding: 5px;

  color: white;
  overflow-wrap: break-word;
  max-width: 70%;
}

.messages {
  margin-top: 10px;
  background-color: rgb(212, 212, 212);
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 20px;
  padding-right: 10px;
  overflow-y: scroll;
  scrollbar-width: 0;
  padding-bottom: 20px;
  height: 84%;
}

.msgContent {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #747474;
  padding: 10px;
  width: fit-content;
  height: fit-content;
  min-width: 50%;
}

.outMsg {
  align-self: flex-end;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #272727;
  padding: 10px;
  width: fit-content;
  min-width: 50%;
}
.avatarImg {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin-right: 5px;
}
.inMsg {
  display: flex;
  align-items: flex-end;
}
.writing {
  background-color: white;
  height: 8%;
  /* border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px; */
  display: flex;
  align-items: center;
  padding-left: 10px;
}
.writing input[type='text'] {
  width: 80%;
  height: 4vh;
  font-size: 1em;
  border-radius: 10px;
  padding-left: 5px;
}
.writing button {
  width: 4vh;
  height: 4vh;
  margin-left: 5px;
  border-radius: 10px;
  background-color: #272727;
  color: white;
  transition: 0.4s;
}
.writing button:hover {
  cursor: pointer;
  background-color: black;
}

.writingForm {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.userField {
  width: 25vw;
  height: 100vh;
  background-color: white;
  padding: 20px;
}
.userField a {
  text-decoration: none;
  color: black;
}
.chatUsers {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 10px;
  overflow-y: auto;
}
.chatUsers,
.userField {
  background-color: #c8c8c8fa;
}
.chatUsers {
  border-right: 1px solid black;
}
.msgWrite {
  width: 50%;
}
.tools {
  width: 50%;
  padding-right: 50px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.attachmentSimbol {
  transition: 0.5s all;
}
.attachmentSimbol:hover {
  transform: translateY(-8px);
  cursor: pointer;
}
.chatImage img {
  border-radius: 10px;
  max-height: 50vh;
  max-width: 50vw;
}
